body{
    font-family: 'Neucha', cursive, Arial;
}

.wrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    min-height: 100%;
}

/* sidebar */

aside{
    width: 230px;
    max-width: 25%;
    height: 100%;
    background-color: #0A94C2;
    float: left;
    position: absolute;
    left: -115px;
    -webkit-transition: left 1.5s;
    -moz-transition: left 1.5s;
    -o-transition: left 1.5s;
    transition: left 1.5s;
}

aside .sidebar-button{
    width: 50px;
    height: 36px;
    padding: 15px;
    margin-bottom: 100px;
    float: right;
    content: "";
    display: table;
    clear: both;
}

aside .sidebar-button img{
    width: 100%;
}

aside .sidebar-button .button-off{
    display: none;
}

aside:hover{
    left: 0px;
    -webkit-transition: left 1.5s;
    -moz-transition: left 1.5s;
    -o-transition: left 1.5s;
    transition: left 1.5s;
}

aside:hover .sidebar-button .button-on{
    display: none;
    -webkit-transition: display 1.5s;
    -moz-transition: display 1.5s;
    -o-transition: display 1.5s;
    transition: display 1.5s;
}

aside:hover .sidebar-button .button-off{
    display: block;
    -webkit-transition: display 1.5s;
    -moz-transition: display 1.5s;
    -o-transition: display 1.5s;
    transition: display 1.5s;
}

aside .sidebar-forecast-min{
    width: 75px;
    height: 115px;
    margin-bottom: 20px;
    margin-right: 15px;
    padding: 10px;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    content: "";
    display: table;
    clear: both;
}

aside .sidebar-forecast-min .side-forecast-img-sm{
    width: 60px;
    height: 60px;
    background-image: url('../img/cloud_sun.png');
    background-repeat: no-repeat;
    
}

aside .sidebar-forecast-min .side-data-sm{
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 24px;
}
/* end sidebar */

/* header */

header{
    width: 1024px;
    max-width: 75%;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 130px;
    padding-top: 30px;
}

header:after{
    content: "";
    display: table;
    clear: both;
}

header .logo{
    float: left;
    margin: 0 auto;
    font-size: 25px;
}

header form{
    float: right;
}

/* end header */

main{
    width: 1024px;
    max-width: 75%;
    margin: 0 auto;
}

main .nav-button{
    width: 100%;
    height: 50px;
}

main .arrow-up{
    margin-bottom: 20px;
}

main .arrow-down{
    margin-top: 20px;
}

main .nav-button .arrow{
    width: 200px;
    height: 30px;
    margin: 0px auto;
    background-image: url('../img/arrow.png');
    background-repeat: no-repeat;
    background-size: 200px 70px;
}

main .arrow-up .arrow{
    background-position: 0px 0px;
}

main .arrow-down .arrow{
    background-position: 0px -40px;
}

main .nav-button .arrow-capt{
    width: 200px;
    line-height: 20px;
    text-align: center;
    margin: 0px auto;
    font-size: 18px;
}

/* footer */

footer{
    width: 1024px;
    max-width: 75%;
    margin: 0 auto;

}

/* end footer */