body{
    color: #4D4D4D;
    background-color: #EBEFF0;
    font-family: 'Neucha', cursive, Arial;
}

.wrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    min-height: 100%;
    padding-left: 150px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: transform 1.5s;
    -o-transition: transform 1.5s;
    -moz-transition: transform 1.5s;
    -webkit-transition: transform 1.5s;
    transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
}
.wrapper.open{
    transform: translateX(115px);
    -ms-transform: translateX(115px);
    -webkit-transform: translateX(115px);
}

/* sidebar */

#aside {
    height: 100%;
    width: 230px;
    max-width: 25%;
    background-color: #0A94C2;
    position: fixed;
    z-index: 2222;
    -webkit-transform: translateX(-115px);
    -moz-transform: translateX(-115px);
    -o-transform: translateX(-115px);
    transform: translateX(-115px);
    -webkit-transition: transform 1.5s;
    -moz-transition: transform 1.5s;
    -o-transition: transform 1.5s;
    transition: transform 1.5s;
    transition-timing-function: ease;
}

#aside:hover{
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

#aside:hover .sidebar-button .button-right{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#aside .sidebar-button{
    width: 27px;
    height: 36px;
    margin: 60px 40px 75px 0px;
    float: right;
    content: "";
    display: table;
}

#aside .sidebar-button img{
    width: 100%;
}
#aside .sidebar-button .button-right{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

#aside .sidebar-forecast-box{
    width: 100%;
    height: 465px;
    content: "";
    clear: both;
}

#aside .sidebar-forecast-box .sidebar-forecast{
    width: 75px;
    height: 115px;
    margin-bottom: 40px;
    margin-right: 15px;
    float: right;
    content: "";
    clear: both;
}

#aside:hover .sidebar-forecast-box .sidebar-forecast{ /*put :hover after #aside*/
    width: 150px;
    height: 115px;
    margin: 0 auto;
    margin-bottom: 40px;
    float: none;
    content: "";
    clear: both;
}

#aside .sidebar-forecast-box .sidebar-forecast-close{
    width: 100%;
    height: 100%;
    display: block; /*change thith to block*/
}

#aside:hover .sidebar-forecast-box .sidebar-forecast-close{
    display: none; /*change thith to none*/
}

#aside .sidebar-forecast-box .sidebar-forecast-close img{
    width: 75px;
    height: 75px;
    margin-bottom: 6px;
}

#aside .sidebar-forecast-box .sidebar-forecast-close .side-data-sm{
    text-align: center;
    color: #4D4D4D;
    font-size: 24px;
}

#aside .sidebar-forecast-box .sidebar-forecast .sidebar-forecast-open{
    max-width: 150px;
    height: 115px;
    margin: 0 auto;
    margin-bottom: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
    clear: both;
    display: none; /*change thith to none*/
}

#aside:hover .sidebar-forecast-box .sidebar-forecast .sidebar-forecast-open{
    display: block;
}

#aside .sidebar-forecast .sidebar-forecast-open .side-temp{
    width: 75px;
    line-height: 75px;
    float: left;
    font-size: 32px;
    color: white;
    text-align: center;
}

#aside .sidebar-forecast .sidebar-forecast-open .side-forecast-img{
    width: 75px;
    height: 75px;
    float: left;

}

#aside .sidebar-forecast .sidebar-forecast-open .side-forecast-img img{
    width: 100%;
}

#aside .sidebar-forecast .sidebar-forecast-open .side-day{
    width: 100%;
    line-height: 40px;
    font-size: 25px;
    color:  #4D4D4D;
    text-align: center;
    display: block;
    content: "";
    clear: both;
}


/* end sidebar */

/* header */

.container {
    max-width: 1024px;
    margin: 0 auto;
}
.poll-left {
    float: left;
}
.poll-right {
    float: right;
}

#header{
    min-height: 155px;
    padding: 20px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#header a:visited{
    color: #4D4D4D;;
}



#header .logo{
    text-decoration: none;
}

#header .logo img{
    height: 100px;
    margin-right: 30px;
    display: inline-block;
    vertical-align: bottom;
}

#header .logo .logo-capt{
    height: 50px;
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 10px;
}

#header .logo .logo-capt p{
    font-size: 26px;
}

#header .search-form {
    background-color: transparent;
    width: 300px;
    position: relative;
    margin-top: 37px;
}

#header .search-form input:focus {
    outline: none;
}


#header .search-form input[name="location"]{
    width: 100%;
    border: none;
    font-size: 20px;
    height: 50px;
    font-family: "Neucha", cursive, Arial;
    padding: 15px 60px 9px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#header .search-form input[name="submit"]{
    top: 2px;
    right: 5px;
    width: 45px;
    height: 45px;
    border: none;
    position: absolute;
    background-color: transparent;
    background-image: url('../img/search-ico.png');
    background-repeat: no-repeat;
    background-position: -55px 0px;
}

#header .search-form input[name="submit"]:hover{
    background-position: -2px 0px;
    cursor: pointer;
}

/* end header */

/* forecast content */

#main{
    position: relative;
    padding-bottom: 50px;
}

#main .nav-button{
    width: 100%;
    height: 50px;
        margin-bottom: 20px;
}
#main .nav-button ul{
    height: inherit;
}

#main .nav-button .arrow{
    width: 100%;
    height: 30px;
    height: inherit;
    margin: 0px auto;
    text-align: center;
    font-size: 18px;
}
#main .nav-button .arrow a:before{
    background: url('../img/arrow.png') center top  no-repeat;
    background-size: 200px 70px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 auto;
    height: 30px;
    width: 200px;
    left: 0;
}
#main .nav-button .arrow:hover a:before{
    background-position: center 2px;
}
#main .nav-button .arrow a{
    color: #4D4D4D;
    padding-top: 33px;
    display: block;
    text-decoration: none;
    position: relative;
}

#main .arrow-down .arrow a{
    padding-top: 0;
    padding-bottom: 30px;
    display: block;
}

#main .arrow-down .arrow a:before{
    background-position: 0px -40px;
    top: initial;
    bottom: 0;
}
#main .arrow-down .arrow:hover a:before{
    background-position: 0px -41px;

}

#main .nav-button.arrow-down{
    
}

/* end nav */

/* forecast box*/

#main .forecast-box{
    width: 100%;
    min-height: 370px;
    margin-bottom: 20px;
    padding: 15px;
    overflow: hidden;
    background-image: url('../img/postcard/postcard-background-2.png');
    box-shadow: 0px 0px 3px #D1D1D1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#main .forecast-box .forecast-box-left{
    display: inline-block;
    width: 250px;
    height: 340px;
}

#main .forecast-box .forecast-date{
    width: 100%;
    height: 60px;
    text-align: center;
}

#main .forecast-box .forecast-date .day-active,
#main .forecast-box .forecast-date .data-active{
    line-height: 30px;
    font-size: 24px;
}

#main .forecast-box .forecast-img{
    width: 100%;
    height: 230px;
    padding: 25px 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#main .forecast-box .forecast-img img{
    width: 150px;
    height: 150px;
}

#main .forecast-box .forecast-img p{
    line-height: 30px;
    text-align: center;
}

#main .forecast-box .date-form-box{
    width: 100%;
}

#main .forecast-box .date-form {
    background-color: transparent;
    width: 250px;
    position: relative;
    margin: 0 auto;
}

#main .forecast-box .date-form input:focus {
    outline: none;
}


#main .forecast-box .date-form input[name="date"]{
    width: 100%;
    border: none;
    font-size: 20px;
    height: 50px;
    font-family: "Neucha", cursive, Arial;
    text-align: center;
    padding: 10px 30px;
    background-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#main .forecast-box .date-form input[name="submit"]{  
    top: 2px;
    left: 5px;
    width: 25px;
    height: 45px;
    border: medium none;
    position: absolute;
    background-color: transparent;
    background-image: url("../img/search-date-ico.png");
    background-repeat: no-repeat;
    background-position: 2px 13px;
    background-size: 20px auto;
    
}

#main .forecast-box .date-form input[name="submit"]:hover{
    background-position: 2px 11px;
    cursor: pointer;
}

#main .forecast-box .forecast-box-middle{
    display: inline-block;
    width: 420px;
    height: 340px;
}


#main .forecast-box .button-box{ 
    width: 100%;
    height: 60px;
}

#main .forecast-box .button-box ul{
    padding: 13px 0;
}

#main .forecast-box .button-box ul li{
    display: inline-block;
    width: 100px;
    line-height: 30px;
    text-align: center;
    margin-right: 15px;
    border-radius: 5px;
    border: 2px solid gray;
}

#main .forecast-box .button-box ul li.active{
    background-color:  #0A94C2;
    color: white;
    border-color: white;
}

#main .forecast-box .button-box ul li:hover{
    background-color:  #0A94C2;
    color: white;
    border-color: white;
}

#main .forecast-box .button-box ul li:last-child{
    margin-right: none;
}

#main .forecast-box .chart-box{
    display: inline-block;
    width: 100%;
    height: 100%;
}


#main .forecast-box .chart-box img{
    width: 100%;
    height: 210px;
}
    
#main .forecast-box .chart-capt-box {
    width: 100%;
    height: 30px;
}

#main .forecast-box .chart-capt-box p{
    display: inline-block;
    width: 50px;
    line-height: 30px;
    text-align: center;
}

#main .forecast-box .forecast-box-right{
    display: inline-block;
    width: 250px;
    height: 100%;
    float: right;
}

#main .forecast-box .forecast-box-right img{
    width: 100%;
}

/* end forecast-box*/
    
/* end forecast content */

/* footer */

#footer{
    margin: -50px 0 0;
    height: 50px;
    padding-left: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 10px;
}

/* end footer */