body{
    font-family: 'Neucha', cursive, Arial;
}

aside{
    width: 230px;
    max-width: 25%;
    height: 100%;
    background-color: #0A94C2;
    float: left;
    position: absolute;
    left: -115px;
}

aside .sidebar-button{
    width: 50px;
    height: 36px;
    padding: 15px;
    float: right;
}

aside .sidebar-button img{
    width: 100%;
}

aside .sidebar-button .button-off{
    display: none;
}

aside:hoover{
    background-color: red;
}

aside:hoover .sidebar-button .button-on{
    display: none;
}

aside:hoover .sidebar-button .button-off{
    display: block;
}

.wrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    min-height: 100%;
}

.wrapper header{
    width: 1024px;
    max-width: 75%;
    line-height: 30px;
    margin: 0 auto;
    padding-top: 30px;
}

.wrapper header:after{
    content: "";
    display: table;
    clear: both;
}

.wrapper header .logo{
    float: left;
    margin: 0 auto;
    font-size: 25px;
}

.wrapper header form{
    float: right;
}

.wrapper main{
    width: 1024px;
    margin: 0 auto;
}

footer{
    width: 1024px;
    margin: 0 auto;
}
